body{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
}
button{
    background-color: #085f63; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.wrapper{
    display: grid;
  
    border-radius: 15px;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #ff5959;
  
  }
  .module {
    background: 
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.6)
      )
  }
  .intro{
      color: black;
      margin-top: 50px;
      margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
  }
  .owners{
    grid-column: 1/2;
    text-align: center;
    justify-self: end;
  }
  .dogs{
    grid-column: 3/4;
  }
  
  .owner{
    border-style: solid;
    width: 10vw;
    border-radius: 50%;
    height: 10vw;
    margin-top: 10px;
    background-size: cover;
    border-color: #49beb7;
  }
  .ownerName{
      color: white;
      font-weight: bolder;
      float: left;

  }
  
  .dog{
    border-style: solid;
    border-color: #49beb7;
    width: 10vw;
    border-radius: 50%;
    height: 10vw;
    margin-top: 10px;
    background-size: cover;
  }
  .lines{

    display: grid;
    grid-column: 2/3;
}
  .line{
    height: 20vh;
    transform: translateY(20px);
    width: 100%;
    font-size: 2vw;
  }

  .line_drawing{
      height: 5vh;
      margin-top: 45px;
      border-style: solid;
      background-color: #facf5a;
      border-color: #facf5a;
      border-radius: 20%;
      text-align: center;
  }
  p{
    vertical-align: middle;
    transform: translateY(-4vh);
  }

  .right-container{
      background-color: #49beb7;
      border-radius: 15px;
    }

    .dogs_small{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;  
        grid-auto-rows: 5vw;
    }

  .small-dog{
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    height: 5vw;
    margin-top: 10px;
    background-size: cover;
    text-align: center;
  }

  .dog_status{
    transform: rotate(-45deg);
    color: red;
    font-weight: bold;
  }


  .left-container{
      background-color: #facf5a;
      border-radius: 15px;
  }


  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: none;
    width: 100%;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .table{
      margin-right: 15px;
      margin-left: 15px;
  }

  .mobile_tables{
    display: none;
  }

  @media only screen and (max-width: 600px) {
    body {
      grid-template-columns: 1fr .3fr;
    }
    .table{
      display: none;
    }
    .table_owner_title{
      display: none;
    }
    .line{
      height: 20vw;
    }
    .wrapper{
      display: grid;
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 15px;
      grid-template-columns: 1fr 1fr 1fr;
      background-color: #ff5959;
    }
    .left-container{
      grid-column: 1/3;
    }
    .owner{
      margin-top: 20px;
      width: 20vw;
      height: 20vw;
    }
    .dog{
      margin-top: 20px;
      width: 20vw;
      height: 20vw;
    }
    .line_drawing{
      margin-top: 45px;
      height: 10vw;
      background: none;
      border-style: none;
    }
    .line_text{
      vertical-align: middle;
      margin-top: 5vw;
      font-size: small;
    }
    .right-container{
      background-color: #49beb7;
      border-radius: 15px;
    }

    .dogs_small{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr ;  
        grid-auto-rows: 20vw;
    }

  .small-dog{
    margin-left: 10px;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
    margin-top: 10px;
    background-size: cover;
    text-align: center;
  }
  .table{
    width: 100%;
  }
  h2{
    color: white;
  }

  .mobile_tables{
    display: inline;
    grid-column: 1/3;
    border-radius: 15px;
    background-color: #085f63;
    padding-bottom: 15px;
  }
    
  }